@mixin flex($center, $direction) {
    display: flex;
    justify-content: $center;
    flex-direction: $direction;
    align-items: center;
};

@mixin mobile {
    @media (max-width: 738px) {
        @content
    }
};

@mixin tablet {
    @media (max-width: 1024px) {
        @content
    }
};

@mixin deskop {
    @media (max-width: 1366px) {
        @content
    }
}