//backgrounds
$primary-background: rgb(2, 1, 27);
$secondary-background: rgb(241, 236, 245);
$standardSection-background: linear-gradient(180deg,rgb(0, 0, 2), rgb(2, 1, 27));
$parallaxSection-background: linear-gradient(180deg,rgb(72, 12, 100), rgb(90, 84, 201));

//colors
$primary-color: rgb(226, 222, 211);
$secondary-color: rgb(37, 37, 37);
$background-color: rgba(9, 8, 73, 0.2);
$third-color: #aaa6a6;
$focus-color: #e08f16;