@import './_variables.scss';
@import './mixins';
@import './navbar.scss';

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    scroll-snap-align: center;
    background-color: $primary-background;
    color: $primary-color;
}

a {
    text-decoration: none;
    color: inherit;
}



