.NavBar {
    height: 100px;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        @include flex(space-between, row);
        height: 100%;

        span {
            font-weight: bold;

            @include mobile {
                display: none;
            }
        }

        .social {
            display: flex;
            gap: 20px;
        }

            a {
                font-size: 24px;
            }


    }
}