.Portfolio {
    position: relative;

    .progress {
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: $focus-color;
        font-size: 36px;

        .progressBar {
            height: 10px;
            background-color: $secondary-background;
        }
    }

    .container {
       @include flex(center, column); 
       width: 100%;
       height: 100%;

       .wrapper {

            img {
                flex: 1;
                height: 50%;
                object-fit: cover;
            }

            .textContainer {
                flex: 1;
            }
        }
    }
}