.Projects {
    background: $primary-background;
    height: 100%;
    @include flex(space-between, column);

    .textContainer {
        flex: 1;
        align-self: flex-end;
        @include flex(center, row);
        gap: 20px;

        @include mobile {
            align-self: center;
            text-align: center;
            flex-direction: column;
        }

        p {
            font-weight: 200;
            font-size: 20px;
            color: $third-color;
            text-align: right;
        }

        hr {
            width: 400px;
            border: none;
            border-top: $primary-border;

            @include mobile {
                width: 300px;
            }
        }
    }

    .titleContainer {
        flex: 2;
        @include flex(center, column);

        @include mobile {
            width: 100%;
        }
        
        .title {
            display: flex;
            align-items: center;
            gap: 50px;

            @include mobile {
                flex-direction: column;
                text-align: center;
                gap: 20px;
            }

            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;

                @include mobile {
                    width: 200px;
                    height: 50px;
                }
            }

            h1 {
                font-size: 96px;
                font-weight: 100;

                @include mobile {
                    font-size: 22px;
                }
            }

           button {
            width: 300px;
            height: 100px;
            border-radius: 50px;
            background-color: $focus-color;
            border: none;
            font-size: 24px;
            cursor: pointer;

            @include mobile {
                width: 150px;
                height: 50px;
                font-size: 14px;
            }
           }
        }
    }

    .listContainer {
        flex: 2;
        @include flex(center, row);
        max-width: 1366px;
        margin: auto;

        @include mobile {
            flex-direction: column;
            width: 100%;
        }

        .box {
            padding: 50px;
            border: $primary-border;
            @include flex(center, column);

            @include mobile {
                border: none;
                padding: 30px;
            }

            p {

                margin: 20px 0;

                @include mobile {
                    display: none;
                }
            }
        }

        button {
            padding: 10px;
            background-color: $focus-color;
            border: none;
            cursor: pointer;
            width: 100%;

            @include mobile {
                margin-top: 20px;
                background-color: transparent;
                border: $cursor-border;
                border-radius: 5px;
                color: $primary-color;
                width: 100px;
                padding: 7px;
                color: $focus-color;
                transition: 200ms all ease-in-out;

                &:hover {
                    background-color: $primary-background;
                }
            }
        }
    }
}