.Projects {
    background: $primary-background;
    height: 100%;
    @include flex(space-between, column);

    .textContainer {
        flex: 1;
        align-self: flex-end;
        @include flex(center, row);
        gap: 20px;

        p {
            font-weight: 200;
            font-size: 20px;
            color: $third-color;
            text-align: right;
        }

        hr {
            width: 400px;
            border: none;
            border-top: 0.5px solid $third-color;

        }
    }

    .titleContainer {
        flex: 2;
        @include flex(center, column);
        
        .title {
            display: flex;
            align-items: center;
            gap: 50px;

            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
            }

            h1 {
                font-size: 96px;
                font-weight: 100;
            }

           button {
            width: 300px;
            height: 100px;
            border-radius: 50px;
            background-color: $focus-color;
           }
        }
    }

    .listContainer {
        flex: 2;
    }



}